{% load static %}
{% load omfilters%}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %} E-Commerce{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css'%}">
        <link rel="stylesheet" href="{% static 'assets/custom/css/style.css'%}">

    </head>
    <header class="p-3 m-0 bg-black text-white flex justify-between items-center">
        <a class= "" href = "{% url 'produto:lista' %}">E-Commerce</a>

        <div>
            <form method='GET' action="{% url 'produto:busca' %}">
                <input name="termo" value= "{{ request.GET.termo }}"type="search" class="searchProduct rounded" placeholder="Buscar produto" arial-labe="Busca"/>
                <button class="btn btn-info btn-sm" type="submit">Buscar</button>
            </form>
        </div>

        {% if request.session.carrinho %}
            <li class="">
                <a  href="{% url 'produto:carrinho' %}">
                        <strong> Carrinho {{ request.session.carrinho | card_total_qtd }}x</strong>
                </a>
            </li>
        {% endif %}

        {% if request.user.is_authenticated %}
            <div>
                <a href="{% url 'produto:novo' %}">Adicionar produto</a>
                &nbsp;
                <a href="#">{{ user }}</a>
                &nbsp;
                <a href="{% url 'perfil:logout' %}">Sair</a>
            </div>
        {% else %}

            <div class="flex gap-3">
                <a href="{% url 'perfil:login' %}">
                    <button class="bg-blue-600 p-1.5 rounded loginButton" id="Entrar" >Entrar</button>
                </a>
                <a href="{% url 'perfil:criar' %}">
                    <button class="bg-green-700 p-1.5 rounded" id="Cadastrar">Cadastrar</button>
                </a>
            </div>


        {% endif %}
    </header>
</html>

<style>
    .loginButton {
        background-color: #17a2b8;
    }

    .searchProduct {
        width: 30vw;
        height: 3vh;
        color: black;
        padding: 3px;
    }
</style>