{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.css'%}">
        <link rel="stylesheet" href="{% static 'assets/custom/css/style.css'%}">

    </head>
    <header class="p-3 m-0 bg-black text-white flex justify-between items-center">
        <a class= "" href = "{% url 'produto:lista' %}"> Loja</a>
        <div>
            <input type="text" class="searchProduct rounded" placeholder="Buscar produto" />
        </div>
        <div class="flex gap-3">
            <button class="bg-blue-600 p-1.5 rounded loginButton">Entrar</button>
            <button class="bg-green-700 p-1.5 rounded">Cadastrar</button>
        </div>
    </header>
</html>

<style>
    .loginButton {
        background-color: #17a2b8;
    }

    .searchProduct {
        width: 30vw;
        height: 3vh;
        color: black;
        padding: 3px;
    }
</style>