{% include 'base.html' %}
{% load omfilters %}


{%block conteudo%}

<div class="row">
    <div class="col-lg">
        <div class="row no-gutters">
            <div class="col-lg-12">

                {%if produto.imagem %}
                <img class="img-fluid" src="{{produto.imagem.url}}">
                {%endif%}

            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="mt-4 mt-lg-0">
            <h1 class="h2">{{produto.nome}}</h1>
            <p class="lead">{{produto.descricao_curta | linebreaks}}</p>
            <p class="lead">
                <span id="variation-preco" class="lead product-price">{{produto.preco |formata_preco }}</span>

            </p>

            <form action="{% url 'produto:adicionaraocarrinho'%}" id="form-add-to-cart">
                <div class="text-left">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Adicionar ao carrinho
                    </button>
                </div>

            </form>


        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="mt-5 mb-5">
            <h2 class="text-center">{{produto.nome}}</h2>
            {{produto.descricao_longa|linebreaks}}
        </div>
    </div>
</div>

{% endblock %}