{% load omfilters %}
{% include 'base.html' %}

{%block conteudo%} 
    <div class="gallery">
        {% for produto in produtos  %}
            <div class="card">
                {% if produto.imagem %}
                <a href="{{produto.slug}}"> <!-- utilizado para redirecionar ao slug correspondente ao clicar na imagem-->
                <img class="card-img-top" src="{{produto.imagem.url}}" alt=" {{produto.nome}}">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{produto.nome}}</h5>
                    <p class="card-text">{{produto.descricao_curta}}</p>
                </div>
                <div class="card-footer bg-transparent border-top-light-custom text-center">
                    <div class="container product-price-block text-center">
                        <span class="product-price">
                            {{produto.preco | formata_preco}}
                        </span>
                    </div>
                    <a href="{{produto.slug}}" class="btn btn-primary btn-sm m-1 btn-block">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Comprar
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

<style>
    .gallery {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        padding: 15px;
        gap: 15px;
    }
</style>